html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to right, #eef2f3, #8e9eab);
}
.main {
  max-width: 1000px;
  margin: 0 auto;
}
h2 {
  color: #1460aa;
}

h3 {
  width: 200px;
  background-color: rgb(50, 116, 50);
  border: black;
  border-radius: 18%;
  border-bottom: black dotted;
}
p {
  color: black;
}

a {
  color: rgb(27, 27, 20);
  text-decoration: none;
}

a:hover {
  color: blue;
}

img {
  max-width: 50%;
}

#stopka {
  color: white;
  background-color: rgb(63, 39, 2);
  width: 50%;
  margin: 0 auto;
}

#stopka:hover {
  filter: brightness(150%);
}

.main-heading {
  color: white;
}

.navigation {
  background: rgb(32, 104, 23);
  border-radius: 8%;
  padding: 16px;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.navigation__link {
  color: white;
  display: inline-block;
  margin-right: 20px;
}
.navigation__link--homepage {
  background: yellow;
  color: black;
}

.list {
  list-style: square;
}

.table {
  width: 100%;
}

.form {
}

.form__item {
  display: block;
  width: 30%;
}

.fieldset {
  width: 30%;
}
